*{
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: "poppin_regular";
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: "poppin_medium";
    src: url(Poppins-Medium.ttf);
}
@font-face {
    font-family: "poppin_bold";
    src: url(Poppins-Bold.ttf);
}
@font-face {
    font-family: "poppin_thin";
    src: url(Poppins-Thin.ttf);
}
body{
    margin: 0%;
    padding: 0%;
    background-color: antiquewhite;
}
.box{
    margin: auto;
    padding: 0%;
    width: 1250px;
    height: 600px;
    background-color: white;
    position: relative;
    top: 53px;
    border-radius: 20px;
    box-shadow: 4px 4px 20px 2px #888888;
    margin-bottom: 10%;
}
.name-logo{
    position: absolute;
    border-radius: 50%;
    top: 42px;
    left: 44%;
    width: 134px;
}
#n1{
    position: absolute;
    font-family: 'poppin_regular';
    font-size: 32px;
    top: 200px;
    left: 136px;
}
#n2{
    position: absolute;
    font-family: 'poppin_regular';
    font-size: 30px;
    top: 246px;
    left: 136px;
    color: #575454;
}
#g1{
    position: absolute;
    font-family: 'poppin_regular';
    font-size: 32px;
    top: 326px;
    left: 136px;
}
#g2{
    position: absolute;
    font-family: 'poppin_regular';
    font-size: 30px;
    top: 378px;
    left: 136px;
    color: #575454;
}
#c1{
    position: absolute;
    font-family: 'poppin_regular';
    font-size: 32px;
    top: 200px;
    left: 800px;
}
#c2{
    position: absolute;
    font-family: 'poppin_regular';
    font-size: 30px;
    top: 246px;
    left: 800px;
    color: #575454;
}
#e1{
    position: absolute;
    font-family: 'poppin_regular';
    font-size: 32px;
    top: 452px;
    left: 136px;
}
#e2{
    position: absolute;
    font-family: 'poppin_regular';
    font-size: 30px;
    top: 498px;
    left: 136px;
    color: #575454;
}
#m1{
    position: absolute;
    font-family: 'poppin_regular';
    font-size: 32px;
    top: 326px;
    left: 800px;
}
#m2{
    position: absolute;
    font-family: 'poppin_regular';
    font-size: 30px;
    top: 378px;
    left: 800px;
    color: #575454;
}
#class1{
    position: absolute;
    font-family: 'poppin_regular';
    font-size: 32px;
    top: 452px;
    left: 800px;
}
#class2{
    position: absolute;
    font-family: 'poppin_regular';
    font-size: 30px;
    top: 498px;
    left: 800px;
    color: #575454;
}
.btn{
    width: 300px;
    height: 46px;
    background: #ffc556;
    border: none;
    border-radius: 10px;
    position: relative;
    top: 80%;
    left: 37%;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    top: 79.5%;
}